.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &.opacityImage {
    opacity: 0.3;
  }
}

.ready {
  z-index: 10;
  top: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.score {
  z-index: 10;
  top: 9px;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}