:root {
  --bulma-body-font-size: 1.3em;
  --bulma-border: white;
  --bulma-size-tiny: 0.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-text: hsl(0deg 0% 100%);
    --bulma-button-static-color: var(--bulma-text-strong);
  }
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-patrick-hand);
}

.w-100 {
  width: 100% !important;
}

// The hand drawing border style
.control>* {
  border-width: 2px !important;
  border-top-left-radius: 255px 15px !important;
  border-top-right-radius: 15px 225px !important;
  border-bottom-right-radius: 225px 15px !important;
  border-bottom-left-radius: 15px 255px !important;
}

.field.has-addons .control:not(:last-child) {
  margin-right: -4px;
}

.progress::-webkit-progress-value {
  transition: width 1s linear;
}

.button {
  background-color: rgba(var(--transparency-rgba)) !important;
  border-color: white;
  border-width: 2px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  &.is-text {
    &.non-underlined {
      text-decoration: none;
    }
  }
}

.input,
textarea {
  background-color: rgba(var(--transparency-rgba)) !important;
  border-color: white !important;

  &.is-danger,
  &.is-danger:focus-visible {
    border-color: var(--bulma-danger-base) !important;
  }
}

.table {
  background-color: rgba(var(--transparency-rgba)) !important;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: rgba(var(--half-transparency-rgba)) !important;
}

.breadcrumb a {
  color: var(--bulma-text-strong) !important;
}

.modal-close:before {
  height: 2px;
  width: 50%;
}

.modal-close:after {
  height: 50%;
  width: 2px;
}

.modal-close:after,
.modal-close:before {
  background-color: var(--bulma-delete-color);
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.is-large.modal-close {
  --bulma-delete-dimensions: 2rem;
}

.box {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.progress.is-tiny {
  height: var(--bulma-size-tiny);
}

.card {
  background-color: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.modal-card-head,
.modal-card-foot {
  background-color: rgb(var(--background-end-rgb));
}

.tabs.is-toggle li.is-active a {
  background-color: white !important;
  color: rgb(var(--background-end-rgb)) !important;
  border-color: white !important;
}