@import '~bulma/bulma';
@import './custom-bulma.scss';
@import '@sweetalert2/theme-dark/dark.scss';

:root {
  --background-start-rgb: 91, 153, 132;
  --background-end-rgb: 53, 84, 74;
  --transparency-rgba: 0, 0, 0, 0;
  --half-transparency-rgba: 0, 0, 0, 0.3;
  --near-transparency-rgba: 0, 0, 0, 0.15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 91, 153, 132;
    --background-end-rgb: 53, 84, 74;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-patrick-hand);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  align-items: center;

  .main-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    flex: 1;
    max-width: 1000px;
  }

  /* Mobile */
  @media (max-width: 768px) {
    .main-center {
      margin-top: 1rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  &.text-underlined {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.circle-border {
  border-radius: 9999px;
  border: hsl(200 10% 70%) 2px solid;
  padding: 2px;
}

.drawing-border {
  border-width: 2px !important;
  border-top-left-radius: 255px 15px !important;
  border-top-right-radius: 15px 225px !important;
  border-bottom-right-radius: 225px 15px !important;
  border-bottom-left-radius: 15px 255px !important;
}

.transform-hover:hover span {
  transform: translateX(4px);
}

.transform-hover span {
  transition: transform 200ms;
}

.cursor-pointer {
  cursor: pointer;
}

.allow-all-pointer-event {
  pointer-events: all !important;
}

.base-background {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.p-static {
  position: static !important;
}

.hover-underlined {
  &:hover {
    text-decoration: underline;
  }
}

.half-transparency-background {
  background-color: rgba(var(--half-transparency-rgba)) !important;
}

.near-transparency-background {
  background-color: rgba(var(--near-transparency-rgba)) !important;
}

// Transition
.trans-bounce {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.trans-float-left {
  animation-name: floatLeft;
  animation-duration: 0.5s;
}

@keyframes floatLeft {
  0% {
      opacity: 0;
      transform: translateX(-10%);
  }
  100% {
      opacity: 1;
      transform: translateX(0px);
  }
}

.trans-float-right {
  animation-name: floatRight;
  animation-duration: 0.5s;
}

@keyframes floatRight {
  0% {
      opacity: 0;
      transform: translateX(10%);
  }
  100% {
      opacity: 1;
      transform: translateX(0px);
  }
}

.trans-float-top {
  animation-name: floatTop;
  animation-duration: 0.5s;
}

@keyframes floatTop {
  0% {
      opacity: 0;
      transform: translateY(-10%);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}